message AzureStorageLogEntry with
	EntryInfo { Regex = @"(?<VersionNumber>[\d\.]+);(?<RequestStartTime>[\dT:\-\.Z]+);(?<OperationType>[\w]+);(?<RequestStatus>[\w]+);(?<StatusCode>[\d]+);(?<EndToEndLatencyMS>[\d]+);(?<ServerLatencyMS>[\d]+);(?<AuthenticationType>[\w]+);(?<RequesterAccountName>[\w]*);(?<OwnerAccountName>[\w]+);(?<ServiceType>[\w]+);\x22(?<RequestedURL>.+)\x22;\x22(?<RequestedObjectKey>.*)\x22;(?<RequestedIDHeader>[0-9A-Fa-f\-]+);(?<OperationCount>[\d]+);(?<RequesterIPAddress>[0-9.:]+);(?<RequestVersionHeader>[0-9\-]+);(?<RequestHeaderSize>[\d]+);(?<RequestPacketSize>[\d]+);(?<ResponseHeaderSize>[\d]+);(?<ResponsePacketSize>[\d]+);(?<ResponseContentLength>[\d]+);\x22*(?<RequestMD5>([^\x22]*))\x22*;\x22*(?<ServerMD5>([^\x22]*))\x22*;\x22*(?<ETagIdentifier>([^\x22]*))\x22*;(?<LastModifiedTime>.*);\x22*(?<ConditionsUsed>([^\x22]*))\x22*;\x22*(?<UserAgentHeader>([^\x22]*))\x22*;\x22*(?<RefererHeader>([^\x22]*))\x22*;\x22*(?<ClientRequestId>[^\x22]*)\x22*"
	}
	: LogEntry
{
	string VersionNumber;
	DateTime RequestStartTime with EntryFieldInfo {IsTimestamp = true, IsLocalTime = false};
	string OperationType;
	string RequestStatus;
	uint StatusCode;
	long EndToEndLatencyMS;
	long ServerLatencyMS;
	string AuthenticationType;
	string RequesterAccountName;
	string OwnerAccountName;
	string ServiceType;
	string RequestedURL;
	string RequestedObjectKey;
	string RequestedIDHeader;
	int OperationCount;
	string RequesterIPAddress;
	string RequestVersionHeader;
	long RequestHeaderSize;
	long RequestPacketSize;
	long ResponseHeaderSize;
	long ResponsePacketSize;
	long ResponseContentLength;
	string RequestMD5;
	string ServerMD5;
	string ETagIdentifier;
	string LastModifiedTime;
	string ConditionsUsed;
	string UserAgentHeader;
	string RefererHeader;
	string ClientRequestId;

	override string ToString()
    {
        return OperationType;
    }
}
