<Etw2OpnConfiguration ProtocolName="Microsoft_Windows_WinNat">
	
	<UsingClauses>
		<UsingClause Name="IPv4"/>
		<UsingClause Name="TCP"/>
		<UsingClause Name="UDP"/>
		<UsingClause Name="IANA"/>

	</UsingClauses>

	
       <MessageClauses>
        <!--Regex: Pass QE Check 8/12/2014-->
        <MessageClause Regex="Event_(1030|1034|1035)">
         <FieldClauses>

           <FieldClause Name="IPHeader"> 
             <Type Name="optional [|CapturedIPHeaderLength > 0|] IPv4.Datagram"/>
	     <Aspects>
	       <Aspect>BinaryEncoding{WidthForComposedType=(CapturedIPHeaderLength * 8) as int}</Aspect>
             </Aspects>
           </FieldClause>

           <FieldClause Name="ICMPErrorIPHeader"> 
             <Type Name="optional [|ICMPErrorCapturedIPHeaderLength > 0|] IPv4.Datagram"/>
	     <Aspects>
	       <Aspect>BinaryEncoding{WidthForComposedType=(ICMPErrorCapturedIPHeaderLength * 8) as int}</Aspect>
             </Aspects>
           </FieldClause>

           <FieldClause Name="TransportHeader"> 
             <Type Name="
		optional [|CapturedTransportHeaderLength > 0|] 
		([|TransportProtocol == (IANA.ProtocolType.TCP as uint)|] TCP.Segment |
		[|TransportProtocol == (IANA.ProtocolType.UDP as uint)|] UDP.Datagram | 
		[|TransportProtocol == (IANA.ProtocolType.ICMP as uint)|] binary)"/>
	     <Aspects>
	       <Aspect>BinaryEncoding{WidthForComposedType=(CapturedTransportHeaderLength * 8) as int}</Aspect>
             </Aspects>
           </FieldClause>

           <FieldClause Name="ICMPErrorTransportHeader"> 
             <Type Name="
		optional [|ICMPErrorCapturedTransportHeaderLength > 0|] 
		([|ICMPErrorTransportProtocol == (IANA.ProtocolType.TCP as uint)|] TCP.Segment |
		[|ICMPErrorTransportProtocol == (IANA.ProtocolType.UDP as uint)|] UDP.Datagram | 
		[|ICMPErrorTransportProtocol == (IANA.ProtocolType.ICMP as uint)|] binary)"/>
	     <Aspects>
	       <Aspect>BinaryEncoding{WidthForComposedType=(ICMPErrorCapturedTransportHeaderLength * 8) as int}</Aspect>
             </Aspects>
           </FieldClause>

         </FieldClauses>
        </MessageClause>
       </MessageClauses>
 
</Etw2OpnConfiguration>
