<Etw2OpnConfiguration ProtocolName="Microsoft_Windows_USB_USBHUB3">
	
	<UsingClauses>
		<UsingClause Name="UsbMessageProt"/>
	</UsingClauses>

	<ImplementClauses>
		<ImplementClause Name="UsbMessage">
			<MessageName Regex="EventTemplate.*"/>	
		</ImplementClause>
	</ImplementClauses>
  
</Etw2OpnConfiguration>
