<Etw2OpnConfiguration ProtocolName="Microsoft_Windows_SPB_HIDI2C">
    <MessageClauses>
        <MessageClause Name="Event_1001">
            <ToString>
                return "Enumeration failure (SPB)";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1002">
            <ToString>
                return "Enumeration failure (ACPI)";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1003">
            <ToString>
                return "Enumeration failure (HID)";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1010">
            <ToString>
                return "I/O interrupt received";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1011">
            <ToString>
                return "I/O read dispatch to SPB";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1012">
            <ToString>
                return "I/O read completed by SPB";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1013">
            <ToString>
                return "I/O read forwarded to completion queue";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1014">
            <ToString>
                return "I/O read completed";
            </ToString>
        </MessageClause>
        <MessageClause Name="Event_1021">
            <ToString>
                var powerState = (this.Opcode &amp; 0x3);
                if (powerState == 0)
                {
                    return "SET_POWER ON";
                }
                else
                {
                    return "SET_POWER OFF";
                }
            </ToString>
        </MessageClause>
    </MessageClauses>
</Etw2OpnConfiguration>
