<Etw2OpnConfiguration ProtocolName="Windows_Kernel_Trace">
   <MessageClauses>
        <MessageClause Regex="EventTrace_Header">
	         <FieldClauses>
				<FieldClause Name="EndTime"> 
					<Type Name="DateTime"/>
				</FieldClause>
				<FieldClause Name="StartTime"> 
					<Type Name="DateTime"/>
				</FieldClause>
				<FieldClause Name="BootTime"> 
					<Type Name="DateTime"/>
				</FieldClause>
			</FieldClauses>
		</MessageClause>
   </MessageClauses>
</Etw2OpnConfiguration>
