message ClusterLog with
	//Regex: Pass QE Check 9/10/2013
	EntryInfo { Regex = @"(?<ProcessId>[0-9a-f]+)\.(?<ThreadId>[0-9a-f]+)::(?<Timestamp>[-/\.\:0-9]+) (?<InfoLevel>[A-Z]+)\s+(\[(?<SubComponent>[\s\w\.~:]+)\])? (?<RemainingText>.*)" 
	}
	: LogEntry
{
	string ProcessId;
	string ThreadId;
	DateTime Timestamp with EntryFieldInfo {IsTimestamp = true, IsLocalTime = false };
	string InfoLevel;
	string SubComponent;
	string RemainingText;

	override string ToString()
    {
        return ("[" + InfoLevel + "] [" + SubComponent + "]" + " [Process: " + ProcessId + "] [Thread: " + ThreadId + "] " + RemainingText);
    }
}
