message VMMEntry with 
    EntryInfo { Regex = @"^(?<MsgNumber>[\d]+),(?<timestamp>[\d:. -]+),(?<ProcessId>[x0-9A-F]+),(?<ThreadId>[x0-9A-F]+),(?<ID>[\d]+),(?<file>[0-9A-Za-z_.]+),(?<Line>[\d]+),(?<Status>[x0-9A-F]+),(?<msg>[^,\n]+),(?<GUID>[0-9a-fA-F-\{\}]+),(?<IDS>[\d]+),"} : LogEntry
{
    uint MsgNumber;
    DateTime timestamp with EntryFieldInfo { IsTimestamp = true, IsLocalTime = true};
    ushort ProcessId;
    uint ThreadId;
    ushort ID;
    string file;
    uint Line;
    uint Status;
    string msg;
    guid GUID;
    ushort IDS;
    
    override string ToString()
    {
        return "file: " + file + ", Line: " + Line.ToString() + ", msg: " + msg;
    }
}
